@model CyberSecurityBG.Web.ViewModels.Newss.NewsViewModel
@using CyberSecurityBG.Common
@using CyberSecurityBG.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<center>
    <p style="text-decoration:solid">@Model.Title</p>
    <center>
        <a href="https://www.mediapool.bg">https://www.mediapool.bg</a> // <a href="@Model.Source">Оригинал</a>
    </center>
    <div style="display: inline-flex;">
        @*<img src="https://www.pngitem.com/pimgs/m/10-102407_date-and-time-clock-comments-free-date-icon.png" style="filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(337deg) brightness(106%) contrast(101%); color:white; margin-left:10px; margin-right:10px;" height="25" width="25" />*@
        <i class="far fa-calendar-alt" style="margin-left:7px; margin-right:7px; margin-top:5px;"></i>
        <span class="text-secondary">@Model.CreatedOnAsString</span>
        @*<img src="https://cdn2.iconfinder.com/data/icons/picol-vector/32/view-512.png" style="filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(337deg) brightness(106%) contrast(101%); margin-left:10px; margin-right:10px;" height="25" width="25" />*@
        <i class="fas fa-eye" style="margin-left:7px; margin-right:7px; margin-top:5px;"></i>
        <span class="text-secondary">@Model.Views</span>
        @*<img src="https://image.flaticon.com/icons/png/512/25/25360.png" style="filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(337deg) brightness(106%) contrast(101%); margin-left:10px; margin-right:10px;" height="25" width="25" />
            <span class="text-secondary">@Model.NewsComments.Count()</span>*@
    </div>
</center>
<center>
    <img style="width:90%" src="@Model.PictureUrl" />
</center>
<div style="text-align:justify;">
    @Html.Raw(Model.Content)
</div>
<div class="px-4 pt-3" align="right">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <a type="button" class="btn btn-primary" style="background-color:lightgrey; color:black" asp-controller="AdminNews" asp-action="DeleteById" asp-area="Administration" asp-route-id="@Model.Id">Delete</a>
            <a type="button" class="btn btn-primary" style="background-color:lightgrey; color:black" asp-controller="AdminNews" asp-action="GetEditById" asp-area="Administration" asp-route-id="@Model.Id">Edit</a>
        }
    }
    @*<button type="button" class="btn btn-primary" onclick="showAddCommentForm(0)"><i class="ion ion-md-create"></i>&nbsp;Коментирай</button>*@
    <p style="color:red">fix share url when online</p>
</div>
<br />
<div style="max-width:115px; overflow:hidden; display:inline-block">
    <div class="fb-like" data-href="https://www.facebook.com/BqloNaCherno/" data-width="0" data-layout="button" data-action="like" data-size="large" data-share="true"></div>
</div>
<div class="fb-share-button" data-href="https://localhost:44319/News/ById/ + @Model.Id" data-layout="button" data-size="large" style="margin-left: 13px; top:-5px"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Flocalhost%3A44319%2FNews%2FById%2F1&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"></a></div>
<div style="background-color:#fff; right:0px; border-radius:10px; width:100%; display: inline-block;">
    <div class="fb-comments" data-colorscheme="light" data-href="https://localhost:44319/News/ById/ + @Model.Id" data-numposts="3" data-width="100%"></div>
</div>
@foreach (var news in Model.TopNews)
{
    <br />
    <div class="card flex-md-row mb-4 box-shadow h-md-250" style="width:100%; height:100px; background-color:#1b1b18;">
        <img class="card-img-right d-md-block" alt="Thumbnail [200x250]" style="display:inline; width: 100px; height:100px;" src="@news.PictureUrl" data-holder-rendered="true">
        <div style="position:absolute; top:10%; left:110px;">
            <a style="color:seashell" asp-controller="News" asp-action="ById" asp-route-id="@news.Id">@news.ShortTitle</a>
            <i class="fas fa-eye" style="margin-left:7px; margin-right:7px; margin-top:5px;"></i>
            <span align="right" class="text-secondary" style="font-size:20px; top:5px">@news.Views</span>
            <a asp-controller="News" asp-action="ById" asp-route-id="@news.Id" style="display:inline-block;margin-left:10px" class="btn btn-primary">Още...</a>
        </div>
    </div>
    <br />
}

<br />
